@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

input::placeholder {
    color: slateGray !important;
    opacity: 1 !important;
}

select {
    color: slateGray !important;
    opacity: 1 !important;
}

option {
    color: slateGray !important;
    opacity: 1 !important;
}

/* .rdp-root {
    --rdp-accent-color {
        color: red !important;
        background-color: red !important;
    }
    
    --rdp-button_reset {
        color: red !important;
        background-color: red !important;
    }
    
    --rdp-button {
        color: red !important;
        background-color: red !important;
    }
} */

